<!-- <footer>
  <p >&copy <a href="" class="github">LrnceDev 2022</a></p>
  
  <div class="tech-stack">
    <h2>Made with</h2>
    <ul>
      <li>Node</li>
      <li>Ejs</li>
      <li>Express</li>
      <li>MongoDB</li>
      <li>Etc</li>
    </ul>
  </div>
</footer> -->
<div class="">
  <footer class="bg-dark ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-white">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="mb-0 text-center">
      <a href="" class="github text-white text-center"> © LrnceDev 2022</a>
    </p>
  </footer>
</div>