<footer>
  <p >&copy <a href="" class="github">LrnceDev 2022</a></p>
  
  <div class="tech-stack">
    <h2>Made with</h2>
    <ul>
      <li>Node</li>
      <li>Ejs</li>
      <li>Express</li>
      <li>MongoDB</li>
      <li>Etc</li>
    </ul>
  </div>
</footer>