<%- include('partials/head') %> 
<%- include('partials/header') %>
<main class="bg-container">
  <div class="login-bg"></div>
  <form action="/register" autocomplete="off" class="form-user" method="post">
    <label for="Username">Username</label>
    <input type="text" name="userName" id="Username" required>
    <label for="Password">Password</label>
    <input type="password" name="password" id="Password" required>
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
</main>
<%- include('partials/foot') %> 